<app-header title="Recurso no encontrado"></app-header>
<div class="container">
    <div class="row">
        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-5">
            <h2 class="mt-5 mb-2">Ups! Puede que se haya equivocado...</h2>
            <button class="btn btn-primary" (click)="backClicked()">Volver</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
