<nav class="navbar navbar-dark bg-dark">
    <div>
        <a class="navbar-brand" href="#">
          <img src="/assets/ap.png" height="30" class="d-inline-block align-top" alt="">
          AnguProy
        </a>
        <h1 class="d-inline-block align-center text-light h4">{{title}}</h1>
    </div>
</nav>