<app-header title="Edicion"></app-header>
<div class="container">
    <div class="row">
        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-5">
            <app-user-form></app-user-form>
        </div>
    </div>
</div>
<app-footer></app-footer>
