<p>Detalles del usuario

</p>
<div>
    <input class="btn btn-secundary btn-lg btn-block" type="reset" value="Reset" /> 
    <div class=" d-inline p-2 ">
        
    <input style ="margin-block: 10px ;padding: 10px; "type="submit" class="btn btn-primary" value="Aceptar" a href="#"  />
    </div>
    <input type="submit" class="btn btn-primary" value="Volver" a href="#" routerLink="../../users" />
    
</div>
