<div class="card p-4 bg-light" >
    <h3>Nuevo registro</h3>
    <form (ngSubmit)="onSave($event)" >
        <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Your Email *" [(ngModel)]="email" />
        </div>
        <div class="form-group">
            <input type="password"  name="password" class="form-control" placeholder="Your Password *" [(ngModel)]="password" />
        </div>
        <div class="form-group">
            <input type="password"  name="password" class="form-control" placeholder="Repeat Password *" [(ngModel)]="password2" />
        </div>
              <input class="btn btn-secundary btn-lg btn-block" type="reset" value="Reset" /> 
       
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Aceptar" />       
       
            
            
            <input class="btn btn-dark btn-lg btn-block" href="#" routerLink="../" value="volver"/>
            
        
    </form>
  
  
</div>