<p><img [src]="user.avatar">{{user.first_name}}</p> <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/detail/:id">Ver perfil</a>
      <a class="dropdown-item" href="/edit/:id">Editar</a>
      <a class="dropdown-item" href="/users">Eliminar</a>
    </div>
  </div>
